<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<header th:include="fragment/demo :: header"></header>
<header th:insert="fragment/demo :: header"></header>
<header th:replace="fragment/demo :: header"></header>

<h1>Main</h1>
<p>This is a simple Spring Boot web application.</p>
<p>
    Welcome, <span th:text="${name}">User</span>
    <span th:text="${#strings.toUpperCase(lastName)}">User</span>
    <br>
    this is a message, <span th:text="${message}">Hello</span>!
</p>
<div th:with="someVariable = ${someValue}, a=20, b=30">
    <p th:text="${someVariable}">Some value</p>
    <p th:text="${a}*${b}"></p>
</div>
<button id="click-button" onclick="main()">Click me</button>

<footer th:include="fragment/demo :: footer"></footer>
<footer th:insert="fragment/demo :: footer"></footer>
<footer th:replace="fragment/demo :: footer"></footer>

<p><a th:href="@{/about}">About</a></p>
<script th:src="@{/js/main.js}"></script>
</body>
</html>